.make-room  {
  margin-top: 150px;
}

.make-space {
  margin-top: 150px;
}


.block1-html  {
  text-align:center;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/9c/73/c7/9c73c785bae40ed7e316908e9d6acc35.jpg);
  background-size: 1200px 470px;
  height: 350px; width: 100%;


}

.block1-html h1 {
font-size: 70px;
color: white;
font-family: Verana;
padding-top: 17%;

}


.block2-html {
  text-align: center;
  background-color: white;
  height: 150px; width: 100%;
  margin-top: 10px;

}


.block2-html p {
  font-size: 25px;
  font-family: Inconsolata;
  color: black;
}

.block3-html {
  height: 150px; width: 100%;
  margin-top: 10px;
  background-color: white;

}
.button  {
width: 30%;
margin: 1%;
height:120px;
background-color: grey;
}

.icon {
  font-style: Pacifico;
  font-size: 20px;
  color: white;
}

.footer {
text-align: center;
background-color: LightGrey;
width: 100%;
}

.friends {
  margin-top: 25px;

}


.html1-zeroblock {
  float:right;
  height: 600px;
  width: 500px;
  background-image:
url(https://s-media-cache-ak0.pinimg.com/originals/b8/78/dd/b878dd1d3b0c67e21c5610fbb3610bfd.jpg);
}

.html1-firstblock  {
  font-weight: bold;
}

.html-secondblock {
  font-weight: bold;
}

.block0-html3 {
  float:right;
  height: 600px;
  width: 500px;
  background-image:
url(http://img.huffingtonpost.com/asset/scalefit_600_noupscale/594d3288290000bc0f3b0d64.jpeg);
}

.block1-html3 {
  height: 350px;
  width: 800px;
  font-family: Inconsolata;
}


.block1-html3 h1  {
  font-size: 70px;
}

.block1-html3 p {
  font-size: 25px;
}
.clear  {
  clear: both;
}


#bold {
  font-weight: bold;
}

.block2-html3  {
  float: left;
  height: 100px;
  width: 300px;
  margin-top: 20px;
}

.register_button {
font-family: Inconsolata;
font-size: 15px;
}
#email  {
  background-color: #e6e6ff;
}


@media screen and (max-width: 900px) {
.block3-html {
    display: none;
}

@media screen and (max-width: 900px) {
.footer {
    display: none;
}

@media screen and (max-width: 800px) {
.make-space {
    margin-top: 200px;
}
